body{
    background-color: beige;
}
.container {
    
    width: 80%;
    margin: 100px auto ;
    padding: 5px;
    border: 1px solid #302f2f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.Section {
    text-align: center;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details p {
    text-align: left;
}

details {
    margin-bottom: 20px;
}
